*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg, #34495e 50%, #2c3e50 50%);
}

#container{
	width: 100vw;
	height: 100vh;
	margin: 0 auto; 
	overflow: auto;
}

#header{
	width: 100%;
	margin: 0 auto;
	position: relative; 
	height: 80px;
	background: hsl(0, 2%, 72%);
}

#header hgroup{
	text-align: center;
}

#header hgroup label{
    font-size: x-large;
    font-style: italic;
    color: #fff;
}

img, fieldset {border: 0;}
#header img {
	max-width: 40%; 
	height: 40px; 
	border-radius: 15px; 
	float: left; 
	padding: 5px 5px;
}

.baner{
	display: inline-block;
}

.navegacion{
	width: 100%;
	height: 35px;
	margin: 1% auto;
	padding-top: 2px;
	background: #cfcdcd;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 5px 10px;
	color: #0a0a0a;
	font-family: 'Open sans';
	text-decoration: none;
	font-size: medium;
}

.menu li a:hover{
    color: #d5dbdd;
    border: 2px solid #a8b9c4;
    background: linear-gradient(#34495e, #2c3e50);
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #7f7e7e;
	width: 390%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 5px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.submenus{
	position: absolute;
	background: #7f7e7e;
	width: 100%;
	visibility: hidden;
    top: auto;
    transform: translateX(80px);
	opacity: 0;
	transition: opacity 1.5s;
}

.submenus li a{
	display: block;
	padding: 5px;
	color: #070707;
	font-family: 'Open sans';
	text-decoration: none;
}

.submenu li:hover .submenus{
	visibility: visible;
	opacity: 1;
}

#cuerpo{
	margin: 0 auto; 
	padding: 0; 
	position:-ms-page;
}
#cuerpo{
	width: 100%; 
	height: 600px; 
	border-color: #f8f8f8; 
	background: hsl(0, 0%, 59%);
}


#footer{
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
	background: #363535;
}
#footer a{
	color: #655af3; 
	font-size: larger;
	align-items: center;
}